// viewports
$mobile-width: 360px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1170px;

//colors
$light-grey: #F8F8F8;
$dark-grey: #7E7E7E;
$basic-white: #ffffff;
$basic-black: #000000;
