<div class="container" *ngIf="isLoaded; else loader">
  <h1>Конвертер валлют</h1>
  <div class="wrapper">
    <div class="column">
      <app-currency-input
        [value]="currencyService.inputGive"
        (inputValue)="changeGiveInput($event)"
      >
        Міняю:
      </app-currency-input>
      <app-currency-options
        [selectedCurrency]="defaultGiveCurrency"
        (selectValue)="changeGiveSelect($event)"
        id="give" [currency]="currencyService.currency"
      >
      </app-currency-options>
    </div>
    <div class="column">
      <app-currency-input
        [value]="currencyService.inputReceive"
        (inputValue)="changeReceiveInput($event)"
      >
        Отримую:
      </app-currency-input>
      <app-currency-options
        [selectedCurrency]="defaultReceiveCurrency"
        (selectValue)="changeReceiveSelect($event)"
        id="receive" [currency]="currencyService.currency"
      >
      </app-currency-options>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="texttransform">
    <b>L</b><b>O</b><b>A</b><b>D</b><b>I</b><b>N</b><b>G</b>
  </div>
</ng-template>
